$backgroundColor: white;
$borderColor: lightGray;
$gridColor: black;
$popupColor: #ffffe0;

@mixin overflowBox {
	border: 1px solid $borderColor;
	padding: 2px 5px 2px 2px;
	overflow: auto;
}

/* ===================================================== */

body {
	font-size: 10pt;
	background-color: $backgroundColor;
}

.caption {
	font-weight: bold;
	margin: 5px 0;
}

/* ========================================================
MainView
======================================================== */

.mainview > button {
	float: right
}

/* ========================================================
TabControl
======================================================== */

.tabcontrol {
	white-space: nowrap;
	margin-bottom: 5px;
}
.tabcontrol_tab {
	cursor: default;
	margin-right: 10px;
}
.tabcontrol_tab:hover,
.tabcontrol_tab__active {
	text-decoration: underline;
}

/* ========================================================
GridView
======================================================== */

.gridview {
	display: flex;
}
.gridview_sidebar {
	flex: 0;
	margin-right: 10px;
}
.gridview_sidebar > * {
	margin-bottom: 10px;
}

/* ========================================================
Filters
======================================================== */

.filters label {
	display: block;
	margin: 5px 0;
}
.filters_searchStats {
	margin-top: 8px;
}

/* ========================================================
RecordInfo
======================================================== */

.recordinfo_close {
	font-weight: normal;
	cursor: default;
	&:before { content: '✗'; }
}
.recordinfo_source {
	margin: 5px 0;
	white-space: pre;
	max-height: 30em;
	@include overflowBox;
}

/* ========================================================
Grid
======================================================== */

.grid_content {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}

.grid_section {
	margin: 10px 10px 0 0;
	display: flex;
	flex-direction: column;
}

.grid_floor {
	display: flex;
	font: 9px normal Verdana;
	line-height: 1.5;
}

.grid_floorNumber {
	border: 1px solid $gridColor;
	margin: -1px -1px 0 0;
	background: gainsboro;
	box-sizing: border-box;
	width: 15px;
	height: 14px;
	text-align: center;
}

.grid_apartment {
	border: 1px solid $gridColor;
	margin: -1px -1px 0 0;
	box-sizing: border-box;
	width: 28px;
	height: 14px;
	text-align: center;
	cursor: default;
}
.grid_apartment:hover {
	text-decoration: underline;
}

.grid_apartment__withOriginalNumber {
	font-style: italic;
}

.grid_apartment__duplicate {
	background: #f1a7b3;
}
.grid_apartment__search {
	background: #a7f1a7;
}
.grid_apartment__duplicate.grid_apartment__search {
	background: #d0a7f1;
}

.grid_apartment__selectedRecord {
	border-left-width: 5px;
}

/* ========================================================
ApartmentPopup
======================================================== */

.apartmentpopup {
	position: absolute;
	background: $popupColor;
	border: 1px solid $gridColor;
	padding: 2px 4px;
	white-space: nowrap;
	display: none;
}

/* ========================================================
SqlView
======================================================== */

.sqlview_wrapper {
	position: relative;
	margin-bottom: 10px;
}
.sqlview_controls {
	display: inline-block;
}
.sqlview_btnExample {
	float: right;
}
.sqlview_schema {
	margin-left: 10px;
	display: inline-flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
}
.sqlview_schema pre {
	margin-top: 0;
	@include overflowBox;
	font-family: inherit;
}
.sqlview_messages {
	white-space: pre;
	font-family: monospace;
}
.sqlview table {
	margin-top: 10px;
	border-collapse: collapse;
}
.sqlview td {
	border: 1px solid $gridColor;
	min-width: 5px;
}

/* ========================================================
DataView
======================================================== */

.dataview_sources li {
	margin: 5px 0;
}
.dataview_sources label {
	display: block;
	margin: 5px 0;
}
